@import url('https://assets.data.bingo/font/?family=gerstner-programm');

:root{
	--theme-font-family : "Gerstner Programm";
	--theme-backgorund-color : #FFD700;
	--theme-max-width : 800px;
}

*{
	margin:0;padding:0;
	font-family: var(--theme-font-family);
}
html{background-color: var(--theme-backgorund-color);}

header{
	margin-top: 100px;
}

header h1{
	text-align: center;
	margin: 20px;
}

pre{
	background-color: #FEF9E6;
	padding:30px;
	border-radius: 20px;
	margin-top: 30px;
	font-size: 13px;
}
section{
	max-width: var(--theme-max-width);
	margin: 0 auto;
}